@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Vollkorn:wght@400;600;900&display=swap');
$sans-serif: 'Open Sans', sans-serif;
$color-primario:#3d9959;
$color-secundario:#5fdabf;
$azul: #4f86c6;