p{
    color: $azul;
}
.contenedor{
    background-color: yellow;
    font-family: $sans-serif;
    .titulo{
        color: $color-primario;
    }
    &:hover{
        background-color: coral;
    }
}